<%- include("partials/header") %>

<body>
    <div class="container">
        <% articles.forEach((articles)=>  { %>

    <h1><%= articles.title %></h1>
        <p><%= articles.content %> </p>

        <% }); %> 

    </div>


<%- include("partials/footer") %> 
</body>

</html>